/* Stylesheet by Allison K. Smith, 2017 */

 #map {
    height: 500px;
    width: 70%;
    display: inline-block;
    align-items: center;
}
body {
    background-color: #636363;
}

#panel {
    width: 25%;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
    overflow-y: auto;
}

#search{
    width: 25%;
    padding: 10px;
    display: block;
    height: 50px;
}
#buttons{
    width: 25%;
    padding: 10px;
    display: block;
    height: 50px;
}

.btn-secondary{
    background-color: floralwhite;
    color: gray;
    border: 1px solid #c6c6a5;
}

#pests > ul > li > .btn{
    background-color: indianred;
}

#trees >  ul > li > .btn{
    background-color: green;
}

.btn-primary{
    display:block;
    margin-bottom: 5px;
    white-space: normal;
}

#pests > ul > li > .btn.btn-primary.selected {
    color: lightyellow;
    background-color: darkred
}

#trees > ul > li > .btn.btn-primary.selected {
    color: lightyellow;
    background-color: darkgreen;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	text-indent: 1px;
    border-radius: 0px;
	}
.leaflet-control-zoom-out {
	font-size: 20px;
    border-radius: 0px;
	}

h1,
h2,
h3,
h4,
h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: left;
    color: white;
}

#layerSelect{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 90%;
    height: 100%;
    background-color: rgba(255,255,255,0);
    padding: 10px;
    line-height: 45px; 
    text-align: left;
    border: solid gray 1px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    height: 500px;
}

ul{
    padding: 0;
    list-style-type: none;
}

#pests{
    width:55%;
    float:left;
}


#trees{
    width:40%;
    float:right;
}




#label{
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-size: 14px;
}


.leaflet-popup-content p {
	margin: 5px 0;
	}

.leaflet-control-attribution{
    font-size: 7px;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#myModal > div > h5{
    color: black;
}