/* Stylesheet by Allison K. Smith, 2017 */

 #map {
    height: 500px;
    width: 70%;
    display: inline-block;
    align-items: center;
}
body {
    background-color: lightgrey;
}

#panel {
    width: 25%;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
    overflow-y: auto;
}

#search{
    width: 90%;
    padding: 10px;
    display: auto;
    height: 50px;
    background-color: white;
    border-radius: 7px;
}
#buttons{
    width: 60%;
    padding: 10px;
    display: inline-flex;
    height: 50px;
    
}
#layerSelect{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    width: 90%;
    height: 100%;
    background-color: rgba(255,255,255,0);
    padding: 10px;
    line-height: 45px;
    height: 500px;
}

#pests > p{
    font-weight: bolder;
    text-decoration: underline;
    color: darkred
}

#trees > p{
    font-weight: bolder;
    text-decoration: underline;
    color: darkgreen;
}

.btn-group-wrap {
    text-align: center;
}

div.btn-group {
    margin: 0 17%; 
    text-align: center;
    width: inherit;
    display: inline-block;
    margin-right 5%;
}


.btn-secondary{
    background-color: white;
    color: gray;
    border: 1px solid #c6c6a5;
}

#pests > ul > li > .btn{
    background-color: indianred;
}

#trees >  ul > li > .btn{
    background-color: green;
}

.btn-primary{
    display:block;
    margin-bottom: 5px;
    white-space: normal;
}

#pests > ul > li > .btn.btn-primary.selected {
    color: lightyellow;
    background-color: darkred;
}


#trees > ul > li > .btn.btn-primary.selected {
    color: lightyellow;
    background-color: darkgreen;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	text-indent: 1px;
    border-radius: 0px;
	}
.leaflet-control-zoom-out {
	font-size: 20px;
    border-radius: 0px;
	}

h1{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: left;
    color: #5b5b5b;
    padding-left: 10px;
    padding-right: 10px;
}

h2,
h3,
h4,
h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: left;
    color: #5b5b5b;
    padding-left: 10px;
    padding-right: 10px;
}



ul{
    padding: 0;
    list-style-type: none;
}

#pests{
    width:55%;
    float:left;
}


#trees{
    width:40%;
    float:right;
}




#label{
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-size: 14px;
}


.leaflet-popup-content p {
	margin: 1px 0;
    font-family: 'Lato', sans-serif;
    line-height: .5;
    text-align: center;
	}

#map > div.leaflet-pane.leaflet-map-pane > div.leaflet-pane.leaflet-popup-pane > div > div.leaflet-popup-content-wrapper > div > p:nth-child(3){
    text-decoration: underline
}

.leaflet-control-attribution{
    font-size: 7px;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; 
}

#t > h5{
    font-family: 'Lato', sans-serif;
    text-decoration: underline;
    font-size: 24px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#myModal > div > h5{
    color: black;
}

#popupHeader {
    color: black;
    font-weight: bold;
}


/*Style 'show menu' label button and hide it by default*/
.show-panel {
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	color: #fff;
	background: #625296;
	text-align: center;
	padding: 10px 0;
	display: none;
    border-radius: 7px;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #panel{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 1000px){
	/*Make dropdown links appear inline*/
	layerSelect {
		position: static;
		display: none;
        padding:0;
	}
    #panel {
		position: static;
		display: none;
        padding: 0; 
        width: 80%;
        margin: auto;
        
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
        padding: 0; 
	}
	/*Make all menu links full width*/
	ul li, li a {
		width: 100%;
        padding: 0; 
	}
    #pests{
        width:100%;
        padding: 0; 
    }


    #trees{
        width:100%;
        padding: 0; 
    }
    
    #map{
        width: 98%;
    }
    	/*Display 'show menu' link*/
	.show-panel {
		display:block;
	}
}