/* Stylesheet by Allison K. Smith, 2017 */

 #map {
    height: 500px;
    width: 70%;
    display: inline-block;
    align-items: center;
}
body {
    background-color: #636363;
}

#panel {
    width: 25%;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}





.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	text-indent: 1px;
    border-radius: 0px;
	}
.leaflet-control-zoom-out {
	font-size: 20px;
    border-radius: 0px;
	}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: left;
    color: white;
}

#layerSelect{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 90%;
    height: 30 px;
    background-color: rgba(255,255,255,0);
    padding: 10px;
    line-height: 45px; 
    text-align: left;
    border: solid gray 1px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    height: 500px;
    overflow-y: scroll;
}

ul{
    padding: 0;
    list-style-type: none;
}

#pests{
    width:55%;
    float:left;
}
#trees{
    width:40%;
    float:right;
}

.btn-primary{
    display:block;
    margin-bottom: 5px;
}

.btn.btn-primary.selected {
    color: orange;
}


#label{
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-size: 14px;
}


.leaflet-popup-content p {
	margin: 5px 0;
	}

.leaflet-control-attribution{
    font-size: 7px;
}


















/*DELETE ME*/

.leaflet-control-layers-group-name{
    font-size: 0.9em;
}

#detail{
    position: absolute;
    bottom: 0px;
    right: 70px;
    font-size: 14px;
}
.leaflet-control-layers-selector{
    width:0;
    height:0;
}

.leaflet-control-layers-group-name{
    font-size: 15px;
}

#leaflet-control-layers-group-1{
    background-color: white;
    padding: 10px;
    font-size: 0.7em;
    line-height: 25px;
    float:left;
    width: 40%
}
#panel > div > form > div.leaflet-control-layers-overlays > label:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: lightgoldenrodyellow;
    border-radius: 0.9em;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}
#panel > div > form > div.leaflet-control-layers-overlays > label:nth-child(3){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: lightgoldenrodyellow;
    border-radius: 0.9em;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}
#panel > div > form > div.leaflet-control-layers-overlays > label:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: lightgoldenrodyellow;
    border-radius: 0.9em;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}
#panel > div > form > div.leaflet-control-layers-overlays > label:nth-child(5){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
    background-color: lightgoldenrodyellow;
    border-radius: 0.9em;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}
#panel > div > form > div.leaflet-control-layers-overlays > label:nth-child(6){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 6;
    background-color: lightgoldenrodyellow;
    border-radius: 0.9em;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}
#panel > div > form > div.leaflet-control-layers-overlays > label:nth-child(7){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 7;
    background-color: lightgoldenrodyellow;
    border-radius: 0.9em;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

#panel > div > form > div.leaflet-control-layers-overlays > label:nth-child(8){
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: lightcoral;
    border-radius: 0.9em;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}
#panel > div > form > div.leaflet-control-layers-overlays > label:nth-child(9){
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: lightcoral;
    border-radius: 0.9em;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}
#panel > div > form > div.leaflet-control-layers-overlays > label:nth-child(10)
{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: lightcoral;
    border-radius: 0.9em;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}
#panel > div > form > div.leaflet-control-layers-overlays > label:nth-child(11){
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: lightcoral;
    border-radius: 0.9em;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}
#panel > div > form > div.leaflet-control-layers-overlays > label:nth-child(12){
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
    background-color: lightcoral;
    border-radius: 0.9em;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

#panel > div > form > div.leaflet-control-layers-overlays > label:nth-child(13){
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 6;
    background-color: lightcoral;
    border-radius: 0.9em;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

#leaflet-control-layers-group-1 > label:nth-child(3),
#leaflet-control-layers-group-1 > label:nth-child(4),
#leaflet-control-layers-group-1 > label:nth-child(5),
#leaflet-control-layers-group-1 > label:nth-child(6),
#leaflet-control-layers-group-1 > label:nth-child(7),
#leaflet-control-layers-group-1 > label:nth-child(8){
    background-color: lightgoldenrodyellow;
    border-radius: 0.9em;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

#leaflet-control-layers-group-2 > label:nth-child(2),
#leaflet-control-layers-group-2 > label:nth-child(3),
#leaflet-control-layers-group-2 > label:nth-child(4),
#leaflet-control-layers-group-2 > label:nth-child(5),
#leaflet-control-layers-group-2 > label:nth-child(6){
    background-color: lightsalmon;
    border-radius: 0.9em;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
        
}


#leaflet-control-layers-group-2{
    background-color: white;
    padding: 10px;
    font-size: 0.7em;
    line-height: 25px;
    float:right;
    width: 40%
}

#leaflet-control-layers-group-1 > label:nth-child(2){
    background-color: gray;
    border-radius: 0.9em;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

.leaflet-control-layers{
    position
    background-color: rgba(255,255,255,0.8);
    fill-opacity: 0.8;
    border-radius: 0;
    outline: solid gray 1px;
}

.leaflet-control-layers-expanded{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 90%;
    height: 30 px;
    background-color: rgba(255,255,255,0);
    padding: 10px;
    line-height: 45px; 
    text-align: left;
    border: solid gray 1px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    height: 500px;
    overflow-y: scroll;
}

#panel > div > form > div.leaflet-control-layers-overlays{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
}